body {
   color: rgba(0,0,0,0.87);
   font-family: Roboto, Arial, Arial, sans-serif;
   margin: 0;
   padding: 0;
 }

/*pタグの上下感覚を調整*/
 p{
   margin-top: 3px;
   margin-bottom: 3px;
 }
 .BACK,
 a.BACK,
 button.BACK {
   top: 50%;
   left: 5%;
   position: absolute;
   font-size: 1.6rem;
   font-weight: 700;
   line-height: 1.5;
   display: inline-block;
   padding: 1rem 4rem;
   cursor: pointer;
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
   text-align: center;
   vertical-align: middle;
   letter-spacing: 0.1em;
   color: #212529;
   border-radius: 0.5rem;
 }
 .BACK,
 a.BACK{
   color: #fff;
   background-color: #0000CC;
 }
 .BACK:hover,
 a.BACK:hover{
   color: #fff;
   background: #3399FF;
 }


.NEXT,
a.NEXT,
button.NEXT {
  top: 50%;
  right: 5%;
  position: absolute;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
.NEXT,
a.NEXT{
  color: #fff;
  background-color: #eb6100;
}
.NEXT:hover,
a.NEXT:hover{
  color: #fff;
  background: #FF9966;
}

 .Main_title{
   text-align:center;
   margin-left: auto;
   margin-right: auto;
   width: 90%;
   height: 5rem;
   font-size: 0.8rem;
 }

 .contents{
   text-align:center;
   /*ここで中央揃えにしてる*/
   margin-left: auto;
   margin-right: auto;
   width: 70%;
   height: 50rem;
   font-size: 2rem;
 }

 .Subtitle{
   text-align:center;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
   height: 5rem;
   font-size: 3rem;
 }

 .image_view{
   margin-left: auto;
   margin-right: auto;
   width: 30%;
   height: 30%;
   background: White; /*わかりやすくするための確認用*/
 }
